<div id="home-banner">
	<div class="row">
		<div class="large-12 columns">
            <img src="images/home_banner.jpg" alt="Save the Date" />
		</div>
	</div>
</div>
<div id="home-date">
	<div class="row">
		<div class="large-12 columns">
			<h2>
				October 10<sup>TH</sup>, 2015 <i class="fa fa-circle"></i> SHADY COVE, OREGON
			</h2>
		</div>
	</div>
</div>

<div id="home-info-boxes">
	<div class="row">
		<div class="large-4 columns">
	
			<span class="fa-stack fa-3x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-heart fa-stack-1x fa-inverse"></i>
			</span>	
	
			<h3>Finally!</h3>
		
			<p>
                Yup, we're getting married after only two years together.  We both feel
                like it is the next big step we need to make in our lives before we start
                going on yet bigger adventures together.  We will be holding the ceremony
                on October 10th, 2015 in Shady Cove, Oregon.
			</p>
		
			<p>
				<a href="/wedding">Click here for more about the Wedding...</a>
			</p>
		
		</div>
		<div class="large-3 columns">
	
			<span class="fa-stack fa-3x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-question fa-stack-1x fa-inverse"></i>
			</span>	
	
			<h3>Can't Make it to the Wedding?</h3>
		
			<p>
				We're interesting in hearing why you can't make it in the event we can
                help you make it work.  If it is simply impossible for you to make it
                that's okay we're sure you have you're reasons but please let us know.
			</p>
	
		</div>
		<div class="large-4 columns">
	
			<span class="fa-stack fa-3x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-info fa-stack-1x fa-inverse"></i>
			</span>	
	
			<h3>Take the Alcohol Poll</h3>
		
			{{#if pollError}}
				<div data-alert class="alert-box alert radius">
					There was a problem saving the poll. Please try again!
				</div>
			{{/if}}
		
			{{#if pollDone}}
				<div data-alert class="alert-box radius">
					Thanks for taking the poll!
				</div>
			{{else}}
				<p>
					Please help us estimate the number of people who intend to drink
                    (alcoholic of course) at the reception by taking the poll.
				</p>
		
				<form method="post" action="/poll">
					<label class="radio-label" for="poll-drinking">
						<input type="radio" id="poll-drinking" name="poll" value="drinking" />
						&nbsp;
						Will definately be drinking!
					</label>
					<label class="radio-label" for="poll-fewdrinks">
						<input type="radio" id="poll-fewdrinks" name="poll" value="fewdrinks" />
						&nbsp;
						Might have a few drinks.
					</label>
					<label class="radio-label" for="poll-nodrinks">
						<input type="radio" id="poll-nodrinks" name="poll" value="nodrinks" />
						&nbsp;
						Won't be drinking.
					</label>
				
					<button type="submit" class="button small round">Submit Poll</button>
				</form>
			{{/if}}
	
		</div>
	</div>
</div>

<div id="home-about">
	<div class="row">
		<div class="large-4 columns">
			<img src="/images/Portrait.png" alt="Photo of Charlene and Max" />
		</div>
		<div class="large-8 columns">

			<h3>About Max &amp; Charlene</h3>

			<p>
				We met while we were both working towards our bachelors degrees at the
                Oregon Institute of Technology in Klamath Falls, Oregon.  Although we
                were just friends due to the unlikelihood of a relationship working out.
                We eventually decided to give it a shot for better or worse and surprisingly
                everything worked out despite some early struggles.
			</p>
			
			<p>
				After graduation we both found jobs right away with Charlene working as a
                Respiratory Therapist at Rogue Regional Medical Center in Medford and I as 
                a Software Engineer working for Lighthouse Worldwide Solutions in the same 
                city.  Right now we're both happily living together and in good health.
			</p>
			
			<p>
				In September of 2014 I proposed to the love of my life at the Oregon Caves 
                National Monument to which she replied "Of Course".  So now we're both
                towards preparing for a great wedding to kickstart the rest of our lives!
			<p>
		</div>
	</div>
</div>

{{#extend "scripts"}}

{{/extend}}