<div id="photos-banner" class="banner">
	<div class="row">
		<div class="large-12 columns">
			<h2>
				PHOTOS
			</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">

		<h3>Engagement Photos</h3>
		  <img src="images/ENG_PIC1.jpg">
		  <img src="images/ENG_PIC2.jpg">
		  <img src="images/ENG_PIC3.jpg">
	</div>
</div>

<div class="row">
	<div class="large-12 columns">

		<h3>Wedding Photos</h3>

		<p>
			We'll post some wedding photos here after we get married!
		</p>

	</div>
</div>

<br/>
<br/>

{{#extend "scripts"}}

{{/extend}}
