<div id="reception-content">

	<div class="banner">
		<div class="row">
			<div class="large-12 columns">
				<h2>
					RECEPTION
				</h2>
			</div>
		</div>
	</div>

	<div class="date-row row">
		<div class="large-12 columns">
			<img src="images/reception.jpg" alt="" />
			<h3>October 10<sup>ST</sup> 2015 <i class="fa fa-circle"></i> Shady Cove, OR</h3>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3>Time &amp; Place</h3>
			<p>
				Our reception will be held in the same location as our wedding.  We have
                plans but we're still working out the details on entertainment and
                activities.  More information to follow as we figure everything out!
			</p>
		</div>	
		<div class="large-6 columns">
			<h3>Food</h3>
			<p>
				Don't worry we'll feed you but we still haven't locked into a caterer so
                the exact menu is to TBA.
			</p>
			<!--<p>
				<a href="https://goo.gl/maps/8hL1c">Get Directions</a>
			</p>-->
		</div>
	</div>
	
	<br/>
	<br/>
	
</div>

{{#extend "scripts"}}

{{/extend}}