<div id="reception-content">

	<div class="banner">
		<div class="row">
			<div class="large-12 columns">
				<h2>
					RECEPTION
				</h2>
			</div>
		</div>
	</div>

	<div class="date-row row">
		<div class="large-12 columns">
			<img src="images/reception.jpg" alt="" />
			<h3>October 10<sup>ST</sup> 2015 <i class="fa fa-circle"></i> Shady Cove, OR</h3>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3>Time &amp; Place</h3>
			<p>
				Our reception will be held in the same location as our wedding.  There will be DJ with food, drinks, and dancing.  There will be a money dance shortly after the wedding dinner where guests have an opportunity to pin cash on either the bride or groom for a duet dance.  So bring a couple extra bucks if you'd like to participate, all proceeds go towards our honeymoon.
			</p>
		</div>	
		<div class="large-6 columns">
			<h3>Food</h3>
			<p>
				Don't worry we'll feed you but we still haven't locked into a caterer so
                the exact menu is to TBA.
			</p>
		</div>
	</div>
	
	<br/>
	<br/>
	
</div>

{{#extend "scripts"}}

{{/extend}}