<div id="registry-banner" class="banner">
    <div class="row">
        <div class="large-12 columns">
            <h2>
				GIFT REGISTRY
			</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class "large-12 columns">
        <h3>
			Registry Information
		</h3>
        <p>
            We've tried build an exhaustive list of items for our registry from a variety stores to fit any budget. If you'd like to go in store look up 'Charlene Glenn' although 'Max Blumenthal' should also work.
        </p>
    </div>

    <div class="large-6 columns">
        <h3>Traditional Registries</h3>
        <p>
            We are registered at the following stores:
            <p>
                <div>
                        <a href="http://www.target.com/gift-registry/giftgiver?registryId=Lqfm-OiN1xouZk3eEPAaIA&registryType=WEDDING"><img src="http://myfrugaladventures.com/wp-content/uploads/2010/09/target-logo1.jpg" alt="Target"/>
                        </a>
                    </div>
                    <div>
                        <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542039182&pwsurl="><img src="http://www.bedbathandbeyond.com/_assets/global/images/logo/logo_bbb.png" alt="Bed Bath & Beyond"/>
                        </a>
                    </div>
    <br/>
                    <div>
                        <a href="http://www.kohls.com/upgrade/gift_registry/kohlsgrw_home.jsp?section=list&listid=2931598&viewtype=listview&isfromsearch=true&fname=Charlene&lname=Glenn&regtype=registry.wedding,registry.baby,registry.splday"><img style="background: #87233d" src="http://www.kohls.com/media/images/kohls-logo.png" alt="Kohl's"/>
                        </a>
                    </div>
                </ul>
    </div>
</div>

<br/>
<br/> {{#extend "scripts"}} {{/extend}}