<div id="wedding-content">

	<div class="banner">
		<div class="row">
			<div class="large-12 columns">
				<h2>
					WEDDING
				</h2>
			</div>
		</div>
	</div>

	<div class="date-row row">
		<div class="large-12 columns">
			<img src="images/wedding.jpg" alt="" />
            <h3>October 10<sup>ST</sup> 2015 <i class="fa fa-circle"></i> Shady Cove, OR</h3>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3>Wedding Ceremony</h3>
			<!--<p>
				<strong>5:00 pm at the Gulf Drive Cafe &amp; Tiki Hut</strong>
			</p>-->
			<p>
                7710 Rogue River Drive<br/>
				Shady Cove, OR 97539
			</p>
			<p>
                <a href="http://goo.gl/ukWM69">Get Directions</a>
			</p>	
		</div>
		<div class="large-6 columns">
			<h3>Dinner, Drinks &amp; Music</h3>
			<p>
				After the wedding ceremony we will be having a reception at the same location
				until 10:30 pm.
			</p>
			<p>
				<em>On the menu:</em> TBA
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="large-12 columns">
			<h3>Hotels &amp; Accommodation</h3>
			<p>
				Edgewater Inn, Shady Cove OR
                Adajacent to the wedding venue.
			</p>
            <p>
                There will be discount for all wedding guests.
                Details TBA.
            </p>
		</div>
		<!--<div class="large-6 columns">
			<h3>Flights</h3>
			<p>
				We usually fly Allegiant Air since they are inexpensive and have direct
				flights into the Tampa area (about an hour away from Bradenton). Major
				airlines should fly directly into Sarasota-Bradenton International Airport
				as well as Tampa.
			</p>
			<ul>
				<li>
					<a href="http://www.allegiantair.com">Allegiant Airlines</a>
				</li>
				<li>
					<a href="http://www.southwest.com">Southwest Airlines</a>
				</li>
				<li>
					<a href="http://www.kayak.com">Kayak.com</a>
				</li>						
			</ul>
		</div>-->	
	</div>

	<br/>
	<br/>

</div>


{{#extend "scripts"}}

{{/extend}}