<div id="wedding-content">

    <div class="banner">
        <div class="row">
            <div class="large-12 columns">
                <h2>
					WEDDING
				</h2>
            </div>
        </div>
    </div>

    <div class="date-row row">
        <div class="large-12 columns">
            <img src="images/wedding.jpg" alt="" />
            <h3>October 10<sup>ST</sup> 2015 <i class="fa fa-circle"></i> Shady Cove, OR</h3>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <h3>Wedding Ceremony</h3>
            <p>
                <strong>Cermony starts at 2:00PM followed by a reception</strong>
            </p>
            <p>
                7710 Rogue River Drive
                <br/> Shady Cove, OR 97539
            </p>
            <p>
                <a href="http://goo.gl/ukWM69">Get Directions</a>
            </p>
        </div>
        <div class="large-6 columns">
            <h3>Dinner, Drinks &amp; Music</h3>
            <p>
                After the wedding ceremony we will be having a reception at the same location until 9:30 pm.
            </p>
            <p>
                <em>On the menu:</em> TBA
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h3>Hotels &amp; Accommodation</h3>
            <p>
                Edgewater Inn, Shady Cove OR Adajacent to the wedding venue. Make reservations under Max Blumenthal and Charlene Glenn Wedding.
                <br/> If you need help finding an alternative arrangement either due to price or room availability don't hesitate to contact us for help.
            </p>
            <p>7800 Rogue River Dr
                <br/> Shady Cove, OR 97539
                <br/> (541) 878-3171</p>
            <table style="background: lightGray">
                <col style="width:40%" />
                <col style="width:30%" />
                <col style="width:30%" />
                <thead>
                    <tr>
                        <th>Room
                            <br>
                        </th>
                        <th>Beds</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tr>
                    <td>Parkside Room
                        <br>
                    </td>
                    <td>2 Queen Beds</td>
                    <td>$85.71</td>
                </tr>
                <tr>
                    <td>Parkside Room</td>
                    <td>1 King Bed</td>
                    <td>$85.71</td>
                </tr>
                <tr>
                    <td>Riverside Room</td>
                    <td>2 Queen Beds</td>
                    <td>$114.60</td>
                </tr>
                <tr>
                    <td>Riverside Room</td>
                    <td>2 King Beds</td>
                    <td>$124.23</td>
                </tr>
                <tr>
                    <td> Riverside Room w/Jacuzzi
                        <br>
                    </td>
                    <td>1 King Bed</td>
                    <td>$153.12</td>
                </tr>
            </table>
        </div>
    </div>

    <br/>
    <br/>

</div>


{{#extend "scripts"}} {{/extend}}